


<div class="item-container" >
<div class="row" >
<di class="col-xl-6" >
<div class="clothes-image" >
<img src={{ clothes.pic_url }}>
</div>
</di>
<div class="col-xl-6">
<div class="clothes-info">
<h2>{{ clothes.clothes_name }}</h2>
<h2> gender: {{ clothes.gender }}</h2>

<h2>category: {{ clothes.category }}</h2>


<h2>{{ clothes.clothes_detail }}</h2>
<h2>==================material Info==================</h2>
<h2>{{ clothes.material }}</h2>
<h2>==================Accessory Info==================</h2>
<h2>{{ clothes.accessory1 }}</h2>
<h2>{{ clothes.accessory2 }}</h2>
<h2>{{ clothes.accessory3 }}</h2>
<h2>{{ clothes.accessory4 }}</h2>
</div>
</div>
</div>
</div>
