<h1>This is the clothes detail page</h1>
<h2>==================clothes name==================</h2>
<h2>{{ clothes.clothes_name }}</h2>
<h2>==================item_url==================</h2>
<h2><a href="{{ clothes.item_url }}">{{ clothes.item_url }}</a></h2>
<h2>==================gender Info==================</h2>
<h2>{{ clothes.gender }}</h2>
<h2>==================category Info==================</h2>
<h2>{{ clothes.category }}</h2>
<h2>==================picture==================</h2>
<img src={{ clothes.pic_url }}>
<h2>==================material Info==================</h2>
<h2>{{ clothes.clothes_detail }}</h2>
<h2>==================material Info==================</h2>
<h2>{{ clothes.material }}</h2>
<h2>==================Accessory Info==================</h2>
<h2>{{ clothes.accessory1 }}</h2>
<h2>{{ clothes.accessory2 }}</h2>
<h2>{{ clothes.accessory3 }}</h2>
<h2>{{ clothes.accessory4 }}</h2>
<h2>{{ clothes.accessory5 }}</h2>
<h2>{{ clothes.accessory6 }}</h2>
<h2>{{ clothes.accessory7 }}</h2>
<h2>{{ clothes.accessory8 }}</h2>
<h2>{{ clothes.accessory9 }}</h2>
<h2>{{ clothes.accessory10 }}</h2>

